<html>
<head>
	<meta content="width=device-width,user-scalable=no" name="viewport" />
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<title>helloCordova</title>
	<style type="text/css">
body {
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #E8F6F7;
	margin-top: 20px;
}
.STYLE7 {font-size: 18px; font-family: "黑体"; }

	</style>
	<link href="../style/basePluginCss.css" rel="stylesheet" />
	<script type="text/javascript" charset="utf-8" src="../cordova.js"></script>
	<script src="../js/vconsole.min.js"></script>
	<script type="text/javascript">
	var vConsole = new VConsole();
	var mam = {navigator:navigator};
	var deviceReady = false;
    document.addEventListener("deviceready", onDeviceReady, false);
	//后退 按钮监听
	document.addEventListener('backbutton',hback);
    
    function onDeviceReady() {
    	//alert("onDeviceReady()--->start()");
    	deviceReady = 1;
		devicePlatform = device.platform;
    	console.log("onDeviceReady()--->end()");

		if("iOS" == devicePlatform)
		{
			mam.navigator.appmenu.setBackButton(null,null,"1");
		}
		//添加自定义 菜单
		AddMenu();
    }
	//后退 按钮监听
	function hback() {
		if ("iOS" == devicePlatform) {
			mam.navigator.appmenu.setBackButton(null, null, "0");
		}
		document.removeEventListener('backbutton', hback);
		 //以下三种，可根据当前页面需求，使用不同方法。
		 //第一种：直接退出当前应用
			/**mam.navigator.appmenu.exitApp();**/
		//第二种：返回上一页
			/**history.go(-1);**/
		//第三种：自定义跳转页面
		//	window.location.href = "view/gateway.html";
		alert('在这里定义回退事件，或者释放代码 window.location.href = "view/gateway.html";');
	}

	//添加自定义 菜单
	function AddMenu() {
		 //有三种图标：”1”：默认国网；”2”：删除；”3”：设置备注
		 mam.navigator.appmenu.addMenu(successCallback, null, "1", "自定义菜单1", "addMenuFun()");
		 mam.navigator.appmenu.addMenu(successCallback, null, "2", "自定义菜单2", "addMenuFun()");
		 mam.navigator.appmenu.addMenu(successCallback, null, "3", "自定义菜单3", "addMenuFun()");
		}
	function successCallback() 
	{
		//alert("自定义菜单设置成功回调。");
	}
	function addMenuFun() {

		alert("自定义菜单工能正常，此方法每个页面必须实现！");
	}

	
	function getUserInfo()
 	{
		alert('2020-11  此插件废除，新 老 应用请使用 getToken。有问题咨询管理员');
	 	mam.navigator.loadconfig.getUserInfoNEW(getUserInfoCallback);		 
  	}
	function getUserInfoCallback(obj)
	{
		
		if(obj.appType == 1)
		{
			alert("统一框架(ISC)登录名: "+obj.nameCode +
		" 区域编号: "+ obj.areaId+
		" 用户编号: "+ obj.userId+
		" 登录用户姓名: "+ obj.name+
		" 用户所属基准组织结构: "+ obj.baseOrgId+
		" 用户所属组织机构名称: "+ obj.baseOrgName)
		}
	    else
		{		
			alert(JSON.stringify(obj) )
		}
		console.log("getUserInfo插件调用成功:" + JSON.stringify(obj) );
	}
 	/************************************************/
	// 判断屏幕是否旋转

	function orientationChange() {
		switch(window.orientation) {
		　　case 0: 
				console.log("肖像模式 0,screen-width: " + screen.width + "; screen-height:" + screen.height);
				break;
		　　case -90: 
				console.log("左旋 -90,screen-width: " + screen.width + "; screen-height:" + screen.height);
				break;
		　　case 90:   
				console.log("右旋 90,screen-width: " + screen.width + "; screen-height:" + screen.height);
				break;
		　　case 180:   
				console.log("风景模式 180,screen-width: " + screen.width + "; screen-height:" + screen.height);
			　　break;
			};
		};

	// 添加事件监听

	addEventListener('load', function(){
		console.log("横竖屏监听");
		orientationChange();

		window.onorientationchange = orientationChange;

	}
	);

	function accountLogin() 
	{
		alert("accountLogin");
		mam.navigator.loadconfig.accountLogin(accountLoginCallback);
	}
	function accountLoginCallback(obj) 
	{
		alert(JSON.stringify(obj));

	}

	function getMessage() 
	{
		alert("getMessage");
		mam.navigator.loadconfig.messageInfo(getMsgCallback);
	}
	function getMsgCallback(obj) 
	{
		alert(JSON.stringify(obj));

	}


	function loginAuth() 
	{
		alert("loginAuth");
		mam.navigator.loadconfig.loginAuth(loginAuthCallback);
	}
	function loginAuthCallback(obj) 
	{
		alert(JSON.stringify(obj));

	}

	/**
	*	appcode				应用编码
	*	appCertificate		应用秘钥  即 umsecret 密码默认：【 seuUwLBxGfg 或 123456 】
		SGCCISCAppId		业务系统在isc注册的appid'   开发环境 默认使用， 生产环境找网省信通负责ISC的人申请
		SGCCISCService		业务系统在isc注册的service	开发环境 默认使用， 生产环境找网省信通负责ISC的人申请

		successCallback		成功回调
		errcallback			失败回调
		
	**/
//	var SGCCISCAppId ='8a0621e152a090430152ab60c0fb0004';
//	var SGCCISCService ='http://27.196.216.39:8082/jwt';

	function getToken() 
	{

		var appCode = document.getElementById("appCode").value;
		var umsecret = document.getElementById("umsecret").value;
	
		var SGCCISCAppId = document.getElementById("SGCCISCAppId").value;
		var SGCCISCService = document.getElementById("SGCCISCService").value;

		if(appCode ==""  && umsecret =="")
		{
			appCode='SYSCS';
			umsecret='seuUwLBxGfg';
			console.log('appCode  '+appCode+'  umsecret '+umsecret+'  SGCCISCAppId '+SGCCISCAppId+'  SGCCISCService '+SGCCISCService);

			mam.navigator.accessToken.getToken(appCode,umsecret,SGCCISCAppId,SGCCISCService,successCallback,errcallback);

		}else if(appCode!=""  && umsecret!="")
		{
			console.log('appCode  '+appCode+'  umsecret '+umsecret+'  SGCCISCAppId '+SGCCISCAppId+'  SGCCISCService '+SGCCISCService);
			mam.navigator.accessToken.getToken(appCode,umsecret,SGCCISCAppId,SGCCISCService,successCallback,errcallback);
		}	

	}
	function getTokenSYSCS() 
	{
		
		var appCode = 'SYSCS';
		var umsecret = 'seuUwLBxGfg';
		alert('应用编码 = '+appCode + '  秘钥 = '+umsecret);
		console.log('appCode  '+appCode+'  umsecret '+umsecret+'  SGCCISCAppId '+SGCCISCAppId+'  SGCCISCService '+SGCCISCService);
		mam.navigator.accessToken.getToken(appCode,umsecret,SGCCISCAppId,SGCCISCService,successCallback,errcallback);
	}
	function successCallback(obj) 
	{
		alert(JSON.stringify(obj));
		console.log(JSON.stringify(obj));
		//getUserInfo(obj);

	}
	function errcallback(obj) 
	{
		switch (obj.code.toString()) {
			case "-1":
				//参数异常
				mam.navigator.notification.alert("参数异常", function() {}, '提示');
				break;
			case "-2":
				//4、获取临时令牌失败
				mam.navigator.notification.alert("获取临时令牌失败", function() {}, '提示');
				break;
			case "-3":
				//用户认证失效（建议重新登录i国网）
				mam.navigator.notification.alert("用户认证失效,请退出重新登录i国网", function() {}, '提示');
				break;
		
		}
	}

	function getUserInfo(obj) {
	//	alert('getUserInfo  '+obj.msg);
	let tokens = "";
	if (obj.code.toString() == "0") {
		if (obj.msg != "") {
			tokens = obj.msg;
		} else {
			mam.navigator.notification.alert("令牌获取失败", function() {}, '提示');
			return;
		}
	}
	console.log("token信息：" + JSON.stringify(obj));
	var param1 = {
		"serviceTK": tokens
	}
	// 2020年11月18日 开发环境 正在调整。
	mam.navigator.ajax.postJSON("SYSCS", {"method": "getPlatformUser","param1": JSON.stringify(param1)}, "TOKEN", function getusermess(obj) {
		console.log("用户信息为：" + JSON.stringify(obj));
		//处理自己的逻辑

	});
}

	



</script>
</head>
<body>
<!--***************************** getToken ********************-->
		<table bgcolor="#ffffff" border="0" bordercolor="#e8f6f7" cellpadding="0" cellspacing="0" class="BK" width="100%">
			<tbody>
					<tr>
						<td align="center" bgcolor="#0a7e81" class="BK2" height="42" width="16%"  colspan="2"><span class="STYLE2">应用编码</span></td>
						<td class="BK3"  style="text-align:center;" width="32%" >
							<input id="appCode" style="width: 80%;"/>
						</td>
					</tr>
					<tr>						
						<td align="center" bgcolor="#0a7e81" class="BK2" height="42" width="16%"  colspan="2"><span class="STYLE2">秘钥</span></td>
						<td class="BK3"  style="text-align:center;" width="32%">
							<input id="umsecret"  style="width: 80%;"/>
						</td>
						
					</tr>	
				<tr>
						
							<td align="center" bgcolor="#0a7e81" class="BK2" height="42" width="16%"  colspan="2"><span class="STYLE2">应用ISCID</span></td>
						<td class="BK3"  style="text-align:center;" width="32%" >
							<input id="SGCCISCAppId" style="width: 80%;"/>
						</td>
					</tr>								
				<tr>
						<td align="center" bgcolor="#0a7e81" class="BK2" height="42" width="16%"  colspan="2"><span class="STYLE2">应用services</span></td>
						<td class="BK3"  style="text-align:center;" width="32%">
							<input id="SGCCISCService"  style="width: 80%;"/>
						</td>
					</tr>		
				</tbody>
		</table>
		<div>
			<table bgcolor="#ffffff" border="0" bordercolor="#e8f6f7" cellpadding="0" cellspacing="0" class="BK" width="100%">
				<tbody>
					<tr>
						<td align="center" bgcolor="#0a7e81" class="BK2" height="42" width="16%"><span class="STYLE2">方法名</span></td>
						<td class="BK3" id="latitude" width="16%">getToken</td>
						<td align="center" bgcolor="#0a7e81" class="BK2" height="42" width="16%"><span class="STYLE2">适用系统</span></td>
						<td class="BK3" id="latitude" width="16%">IOS、Android</td>
						<td align="center" bgcolor="#0a7e81" class="BK2" height="42" width="16%"><span class="STYLE2">适用平台</span></td>
						<td class="BK3" id="latitude" width="16%">i国网</td>
					</tr>
					<tr>
						<td align="center" bgcolor="#0a7e81" class="BK4" height="42" width="16%"><span class="STYLE2">功能描述：</span></td>
						<td class="BK3" colspan="5" id="longitude">获取登录token  【默认秘钥：  seuUwLBxGfg 或 123456  或 1 】</td>
					</tr>
				</tbody>
			</table>
		</div>

		<table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tbody>
				<tr>
					<td width="15%">&nbsp;</td>
					<td width="40%">
						<table bgcolor="#0a7e81" border="1" bordercolor="#ffffff" cellpadding="0" cellspacing="0" width="130">
							<tbody>
								<tr>
									<td align="center" height="42" id="getToken" onclick="getToken()"><span class="STYLE4">效果查看 DIY</span></td>

									<td align="center" height="42" id="getToken" onclick="getTokenSYSCS()"><span class="STYLE4">效果查看 SYSCS</span></td>
								</tr>

							</tbody>
						</table>
					</td>

				</tr>
			</tbody>
		</table>

		<br>

		<!--*****************************getUserInfo********************-->
		<div>
			<table bgcolor="#ffffff" border="0" bordercolor="#e8f6f7" cellpadding="0" cellspacing="0" class="BK" width="100%">
				<tbody>
					<tr>
						<td align="center" bgcolor="#0a7e81" class="BK2" height="42" width="16%"><span class="STYLE2">方法名</span></td>
						<td class="BK3" id="latitude" width="16%">getUserInfo</td>
						<td align="center" bgcolor="#0a7e81" class="BK2" height="42" width="16%"><span class="STYLE2">适用系统</span></td>
						<td class="BK3" id="latitude" width="16%">IOS、Android</td>
						<td align="center" bgcolor="#0a7e81" class="BK2" height="42" width="16%"><span class="STYLE2">适用平台</span></td>
						<td class="BK3" id="latitude" width="16%">i国网</td>
					</tr>
					<tr>
						<td align="center" bgcolor="#0a7e81" class="BK4" height="42" width="16%"><span class="STYLE2">功能描述：</span></td>
						<td class="BK3" colspan="5" id="longitude">获取用户基础信息。</br>
						2020-11  此插件废除，新 老 应用请使用 getToken。有问题咨询管理员</br>
						1.	i国网获:返回国网ISC信息</br>
						2.	一点通未登录用户：返回用户唯一值设备信息</br>
						3.	一点通登陆用户：返回用户手机号、唯一值设备信息
</td>
					</tr>
				</tbody>
			</table>
		</div>
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tbody>
				<tr>
					<td width="15%">&nbsp;</td>
					<td width="40%">
						<table bgcolor="#0a7e81" border="1" bordercolor="#ffffff" cellpadding="0" cellspacing="0" width="130">
							<tbody>
								<tr>
									<td align="center" height="42" id="getUserInfo" onclick="getUserInfo()"><span class="STYLE4">效果查看</span></td>
									<!---->
								</tr>
							</tbody>
						</table>
					</td>
	
				</tr>
			</tbody>
		</table>
		<br>
		

		<!--*****************************messageInfo********************-->
		<div>
			<table bgcolor="#ffffff" border="0" bordercolor="#e8f6f7" cellpadding="0" cellspacing="0" class="BK" width="100%">
				<tbody>
					<tr>
						<td align="center" bgcolor="#0a7e81" class="BK2" height="42" width="16%"><span class="STYLE2">方法名</span></td>
						<td class="BK3" id="latitude" width="16%">messageInfo</td>
						<td align="center" bgcolor="#0a7e81" class="BK2" height="42" width="16%"><span class="STYLE2">适用系统</span></td>
						<td class="BK3" id="latitude" width="16%">IOS、Android</td>
						<td align="center" bgcolor="#0a7e81" class="BK2" height="42" width="16%"><span class="STYLE2">适用平台</span></td>
						<td class="BK3" id="latitude" width="16%">门户、一点通</td>
					</tr>
					<tr>
						<td align="center" bgcolor="#0a7e81" class="BK4" height="42" width="16%"><span class="STYLE2">功能描述：</span></td>
						<td class="BK3" colspan="5" id="longitude">获取消息中心内容</td>i国网
					</tr>
				</tbody>
			</table>
		</div>
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tbody>
				<tr>
					<td width="15%">&nbsp;</td>
					<td width="40%">
						<table bgcolor="#0a7e81" border="1" bordercolor="#ffffff" cellpadding="0" cellspacing="0" width="130">
							<tbody>
								<tr>
									<td align="center" height="42" id="messageInfo" onclick="getMessage()"><span class="STYLE4">效果查看</span></td>
								</tr>
							</tbody>
						</table>
					</td>

				</tr>
			</tbody>
		</table>
		<br>
		</div>

		<!--*****************************一点通 跳转登陆页面********************-->
		<div>
			<table bgcolor="#ffffff" border="0" bordercolor="#e8f6f7" cellpadding="0" cellspacing="0" class="BK" width="100%">
				<tbody>
					<tr>
						<td align="center" bgcolor="#0a7e81" class="BK2" height="42" width="16%"><span class="STYLE2">方法名</span></td>
						<td class="BK3" id="latitude" width="16%">accountLogin</td>
						<td align="center" bgcolor="#0a7e81" class="BK2" height="42" width="16%"><span class="STYLE2">适用系统</span></td>
						<td class="BK3" id="latitude" width="16%">IOS、Android</td>
						<td align="center" bgcolor="#0a7e81" class="BK2" height="42" width="16%"><span class="STYLE2">适用平台</span></td>
						<td class="BK3" id="latitude" width="16%">一点通</td>
					</tr>
					<tr>
						<td align="center" bgcolor="#0a7e81" class="BK4" height="42" width="16%"><span class="STYLE2">功能描述：</span></td>
						<td class="BK3" colspan="5" id="longitude">一点通 跳转登陆页面，成功以后返回登陆信息，并返回应用webview页面</td>
					</tr>
				</tbody>
			</table>
		</div>
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tbody>
				<tr>
					<td width="15%">&nbsp;</td>
					<td width="40%">
						<table bgcolor="#0a7e81" border="1" bordercolor="#ffffff" cellpadding="0" cellspacing="0" width="130">
							<tbody>
								<tr>
									<td align="center" height="42" id="accountLogin" onclick="accountLogin()"><span class="STYLE4">效果查看</span></td>
								</tr>
							</tbody>
						</table>
					</td>

				</tr>
			</tbody>
		</table>
		<br>

		<!--***************************** 安全认证 ********************-->
		<div>
			<table bgcolor="#ffffff" border="0" bordercolor="#e8f6f7" cellpadding="0" cellspacing="0" class="BK" width="100%">
				<tbody>
					<tr>
						<td align="center" bgcolor="#0a7e81" class="BK2" height="42" width="16%"><span class="STYLE2">方法名</span></td>
						<td class="BK3" id="latitude" width="16%">loginAuth</td>
						<td align="center" bgcolor="#0a7e81" class="BK2" height="42" width="16%"><span class="STYLE2">适用系统</span></td>
						<td class="BK3" id="latitude" width="16%">IOS、Android</td>
						<td align="center" bgcolor="#0a7e81" class="BK2" height="42" width="16%"><span class="STYLE2">适用平台</span></td>
						<td class="BK3" id="latitude" width="16%">i国网</td>
					</tr>
					<tr>
						<td align="center" bgcolor="#0a7e81" class="BK4" height="42" width="16%"><span class="STYLE2">功能描述：</span></td>
						<td class="BK3" colspan="5" id="longitude">安全认证：打开用户设置的手势\指纹\人脸认证界面</td>
					</tr>
				</tbody>
			</table>
		</div>
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tbody>
				<tr>
					<td width="15%">&nbsp;</td>
					<td width="40%">
						<table bgcolor="#0a7e81" border="1" bordercolor="#ffffff" cellpadding="0" cellspacing="0" width="130">
							<tbody>
								<tr>
									<td align="center" height="42" id="loginAuth" onclick="loginAuth()"><span class="STYLE4">效果查看</span></td>
								</tr>
							</tbody>
						</table>
					</td>

				</tr>
			</tbody>
		</table>
		<br>

		
	</body>

</html>