<html>
<head>
		<meta charset="UTF-8">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>测试页</title>
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" charset="utf-8" src="cordova.js"></script>

	</head>

	<body>
		<input type="button" id="" value="获取首页轮播广告" onclick="getAdvertise()" />
		<input type="button" id="" value="获取桌面快捷应用" onclick="getHomemenu()" />
		<input type="button" id="" value="应用下载" onclick="startDownload()" />
		<input type="button" id="" value="暂停下载" onclick="pausedDownload()" />
		<input type="button" id="" value="应用打开" onclick="openClickApp()" />
		<input type="button" id="" value="获取应用列表" onclick="getAppList()" />
		<input type="button" id="" value="获取应用详情" onclick="getAppDetail()" />
		<input type="button" id="" value="获取图形验证码" onclick="getCheckImage()" />
		<input type="button" id="" value="图形验证码登录" onclick="verifyCode()" />
		<input type="button" id="" value="获取头条信息" onclick="getHeadline()" />
		<input type="button" id="" value="设置" onclick="startSettings()" />
		<input type="button" id="" value="个人信息" onclick="startUserInfo()" />
		<input type="button" id="" value="RequestHeader" onclick="getJSON()" />
		<input type="button" id="" value="获取验证码（忘记密码）" onclick="forgetMSGCode()" />
		<input type="button" id="" value="获取轮播图图片地址" onclick="startDownloadAdvertise()" />
		<input type="button" id="" value="应用搜索" onclick="searchApplication()" />
		<input type="button" id="" value="获取已安装APP列表" onclick="getInstalledAppList()" />
		<input type="button" id="" value="应用卸载" onclick="appUninstall()" />
		<input type="button" id="" value="选择多张图片插件" onclick="imageSelect()" />
		<p id="m-photo-url"></p>

		<script type="text/javascript">

			function getAdvertise(){
				alert("getAdvertise");
				navigator.homepageinfo.getAdvertise(successCallback1,errorCallback1);
			}

			function successCallback1(v){
				alert("yes" + JSON.stringify(v));
			}

			function errorCallback1(e){
				alert("no" + JSON.stringify(e));
			}

			function getHomemenu(){
				alert("getHomemenu");
				navigator.homepageinfo.getHomemenu(successCallback2,errorCallback2);
			}

			function successCallback2(v){
				alert("yes" + JSON.stringify(v));
			}

			function errorCallback2(e){
				alert("no" + JSON.stringify(e));
			}

			function startDownload(){
				alert("startDownload");
				//100000062220
				//11102926
				navigator.AppDownload.startDownload(successCallback3,errorCallback3,"100000062220");
			}

			function successCallback3(v){
				alert("yes" + JSON.stringify(v));
			}

			function errorCallback3(e){
				alert("no" + JSON.stringify(e));
			}

			function openClickApp(){
				alert("openClickApp");
				navigator.AppOper.openClickApp(successCallback4,"100000062220");
			}

			function successCallback4(v){
				alert("yes" + JSON.stringify(v));
			}

			function getAppList(){
				alert("getAppList");
				navigator. AppOper.getAppList(successCallback5,"0",null);
			}

			function successCallback5(v){
				alert("yes" + JSON.stringify(v));
			}

			function getAppDetail(){
				alert("getAppDetail");
				navigator. AppOper.getAppDetail(successCallback6,"100000064468");
			}

			function successCallback6(v){
				alert("yes" + JSON.stringify(v));
			}

			function getCheckImage(){
				alert("getCheckImage");
				navigator.externaluserlogin.getCheckImage(successCallback7);
			}

			function successCallback7(v){
				alert("yes" + JSON.stringify(v));
			}

			function verifyCode(){
				alert("verifyCode");
				navigator. externaluserlogin.verifyCode(successCallback8,"","","","");
			}

			function successCallback8(v){
				alert("yes" + JSON.stringify(v));
			}
			
			function getHeadline(){
				alert("getHeadline");
				navigator.homepageinfo.getHeadline(successCallback9);
			}

			function successCallback9(v){
				alert("yes" + JSON.stringify(v));
			}

			function startSettings(){
				alert("startSettings");
				navigator.dlsettings.startSettings(successCallback10);
			}
			function successCallback10(v){
				alert("yes" + JSON.stringify(v));
			}

			
			function startUserInfo(){
				alert("startUserInfo");
				navigator.dlsettings.startUserInfo(successCallback11);
			}
			function successCallback11(v){
				alert("yes" + JSON.stringify(v));
			}

			function getJSON(){
				navigator.ajax.getJSON("","","",successCallback12);
			}
			function successCallback12(v){
				alert("yes" + JSON.stringify(v));
			}

			function forgetMSGCode(){
				navigator.externaluserlogin.forgetMSGCode(successCallback13,"15971322324");
			}
			function successCallback13(v){
				alert("yes" + JSON.stringify(v));
			}

			function startDownloadAdvertise(){
				navigator.homepageinfo.startDownloadAdvertise(successCallback14,"https://mam1.ft-power.com.cn:10001/netplatform-web/category/welcome.do?method=downLoadAdvertPic&attrId=369");
			}
			function successCallback14(v){
				alert("yes" + JSON.stringify(v));
			}

			function pausedDownload(){
				navigator.AppDownload.pausedDownload(successCallback15,"100000062220");
			}
			function successCallback15(v){
				alert("yes" + JSON.stringify(v));
			}

			function searchApplication(){
				navigator.SearchApp.searchApplication(successCallback16,errorCallback16,"网");
			}
			function successCallback16(v){
				alert("yes" + JSON.stringify(v));
			}
			function errorCallback16(v){
				alert("yes" + JSON.stringify(v));
			}

			function getInstalledAppList(){
				navigator.AppOper.getInstalledAppList(successCallback17);
			}
			function successCallback17(v){
				alert("yes" + JSON.stringify(v));
			}

			function appUninstall(){
				navigator.AppOper.appUninstall(successCallback18,"100000062220");
			}
			function successCallback18(v){
				alert("yes" + JSON.stringify(v));
			}

			function imageSelect(){
				navigator.ImageSelectPlugin.imageSelect(successCallback19);
			}
			function successCallback19(v){
				alert("yes" + JSON.stringify(v));
			}

		</script>
	</body>
</html>
