<!DOCTYPE html>
<html>
    <head>
        <title>本地文件操作（原生插件）</title>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<script type="text/javascript" charset="utf-8" src="../cordova.js"></script>
        <script type="text/javascript" charset="utf-8">
            //创建并写入文件
            function createAndWriteFile(){
              //持久化数据保存
              window.requestFileSystem(LocalFileSystem.PERSISTENT, 0, function (fs) {
 
                console.log('打开的文件系统: ' + fs.name);
                fs.root.getFile("hangge.txt", { create: true, exclusive: false },
                 function (fileEntry) {
 
                    console.log("是否是个文件？" + fileEntry.isFile.toString());
                    // fileEntry.name == 'hangge.txt'
                    // fileEntry.fullPath == '/hangge.txt'
                    //文件内容
                    var dataObj = new Blob(['欢迎访问hangge.com'], { type: 'text/plain' });

					 console.log("调用：" + dataObj);
                    //写入文件
                   // writeFile(fileEntry, dataObj);
				    writeFile(fileEntry, dataObj);
 
                }, onErrorCreateFile);
 
              }, onErrorLoadFs);
            }
 
            //将内容数据写入到文件中
            function writeFile(fileEntry, dataObj) {
				 console.log("文件内容：" + dataObj);
                //创建一个写入对象
                fileEntry.createWriter(function (fileWriter) {
 
                    //文件写入成功
                    fileWriter.onwriteend = function() {
                        console.log("Successful file read...");
                    };
 
                    //文件写入失败
                    fileWriter.onerror = function (e) {
                        console.log("Failed file read: " + e.toString());
                    };
                     console.log("写入前");
                    //写入文件
                    fileWriter.write(dataObj);
					console.log("写入后");
                });
            }
 
            //文件创建失败回调
            function  onErrorCreateFile(error){
              console.log("文件创建失败！")
            }
 
            //FileSystem加载失败回调
            function  onErrorLoadFs(error){
              console.log("文件系统加载失败！")
            }






			document.getElementById("createFile").addEventListener("click", createFile);
			document.getElementById("writeFile").addEventListener("click", writeFile);
			document.getElementById("readFile").addEventListener("click", readFile);
			document.getElementById("removeFile").addEventListener("click", removeFile);

			function createFile() {
			   var type = window.TEMPORARY;
			   var size = 5*1024*1024;

			   window.requestFileSystem(type, size, successCallback, errorCallback)

			   function successCallback(fs) {
				  fs.root.getFile('log.txt', {create: true, exclusive: true}, function(fileEntry) {
					 alert('File creation successfull!')
				  }, errorCallback);
			   }

			   function errorCallback(error) {
				  alert("ERROR: " + error.code)
			   }
				
			}

			function writeFile() {
			   var type = window.TEMPORARY;
			   var size = 5*1024*1024;

			   window.requestFileSystem(type, size, successCallback, errorCallback)

			   function successCallback(fs) {

				  fs.root.getFile('log.txt', {create: true}, function(fileEntry) {

					 fileEntry.createWriter(function(fileWriter) {
						fileWriter.onwriteend = function(e) {
						   alert('Write completed.');
						};

						fileWriter.onerror = function(e) {
						   alert('Write failed: ' + e.toString());
						};

						var blob = new Blob(['Lorem Ipsum'], {type: 'text/plain'});
						fileWriter.write(blob);
					 }, errorCallback);

				  }, errorCallback);

			   }

			   function errorCallback(error) {
				  alert("ERROR: " + error.code)
			   }
				
			}

			function readFile() {
			   var type = window.TEMPORARY;
			   var size = 5*1024*1024;

			   window.requestFileSystem(type, size, successCallback, errorCallback)

			   function successCallback(fs) {

				  fs.root.getFile('log.txt', {}, function(fileEntry) {

					 fileEntry.file(function(file) {
						var reader = new FileReader();

						reader.onloadend = function(e) {
						   var txtArea = document.getElementById('textarea');
						   txtArea.value = this.result;
						};

						reader.readAsText(file);

					 }, errorCallback);

				  }, errorCallback);
			   }

			   function errorCallback(error) {
				  alert("ERROR: " + error.code)
			   }
				
			}

			function removeFile() {
			   var type = window.TEMPORARY;
			   var size = 5*1024*1024;

			   window.requestFileSystem(type, size, successCallback, errorCallback)

			   function successCallback(fs) {
				  fs.root.getFile('log.txt', {create: false}, function(fileEntry) {

					 fileEntry.remove(function() {
						alert('File removed.');
					 }, errorCallback);

				  }, errorCallback);
			   }

			   function errorCallback(error) {
				  alert("ERROR: " + error.code)
			   }
				
			}

        </script>
    </head>
    <body style="padding-top:50px">
        <button style="font-size:23px;" onclick="createAndWriteFile();">创建并写入文件</button>
		<br>
		<button style="font-size:23px;" id = "createFile">创建文件</button><br>
		<button style="font-size:23px;" id = "writeFile">写入文件</button><br>
		<button style="font-size:23px;" id = "readFile">读取文件</button><br>
		<button style="font-size:23px;" id = "removeFile">删除文件</button><br>

		<textarea id = "textarea"></textarea>
    </body>
</html>