<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="width=device-width,user-scalable=no" name="viewport">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>实验室-位置定位</title>
<script type="text/javascript" src="../js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" charset="utf-8" src="../cordova.js"></script>
<script type="text/javascript" src="../js/uploadFjxx.js"></script>
<script type="text/javascript" src="../js/public.js"></script>
<script src="../js/vconsole.min.js"></script>
<style type="text/css">
body {
	background-color: #E8F6F7;
}
.STYLE2 {
	font-family: "黑体";
	color: #FFFFFF;
}
.STYLE4 {color: #FFFFFF; font-weight: bold; font-family: "黑体"; font-size: 14pt; }
.BK {
	border: 1px solid #0A7E81;
}
.BK2 {
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #E8F6F7;
	border-right-color: #E8F6F7;
	border-left-color: #E8F6F7;
}
.BK3 {
	border-bottom-width: 1px;
	border-bottom-style: none;
	border-bottom-color: #0A7E81;
	border-top-width: 1px;
	border-top-style: dashed;
	border-top-color: #0A7E81;
}
.BK4 {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-right-style: solid;
	border-bottom-color: #E8F6F7;
	border-top-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #E8F6F7;
	border-left-color: #E8F6F7;
	border-right-color: #E8F6F7;
}
.textareaStyle1{min-height:40px;border:1px solid #88b8b9;color:#0a7e81;padding:8px;-webkit-box-sizing:border-box;box-sizing:border-box; line-height:120%;width:100%;}
</style>
<script type="text/javascript"> 	
	var vConsole = new VConsole();

	//标识cordova环境是否准备好,初始值为false
    var ready = false;
    
    function onDeviceReady() {
    	console.log("onDeviceReady()111--->start()");
  		ready = true;
		getLocation(mam.navigator.geolocation);
    	console.log("onDeviceReady()222--->end()");
    }	
	
	  /**
     * Get current location
     */
    var getLocation = function(geo, opts) {
        console.log("getLocation()");
		
        // Success callback
        var success = function(p){
            console.log('get location success'+JSON.stringify(p));  
			
            lat=p.coords.latitude;
			lng=p.coords.longitude;
			var addr = p.address;			
			$('#latitude').html(lng);
			$('#longitude').html(lat);			
            document.getElementById('textarea').value = "位置信息："+addr;			
        };

        // Fail callback
        var fail = function(e){
            console.log("getLocation fail callback with error code "+e.code);
        };

        // Get location
        geo.getCurrentPosition(success, fail, opts || {enableHighAccuracy: true}); //, {timeout: 10000});

    };
	
	function locate(){
		getLocation(mam.navigator.geolocation);
	}    


	function EPlocate (){
		mam.navigator.epgis.getLocation(EPsuccessCallback,EPerrorCallback);
	}
	function EPsuccessCallback(v){
	 console.log('successCallback'+JSON.stringify(v))          
	 var lat1=v.latitude;
	 var lng1=v.longitude;
	 var addr1 = v.address;			
	 $('#EPlatitude').html(lng1);
	 $('#EPlongitude').html(lat1);

	 document.getElementById('EPtextarea').value = "位置信息："+addr1;		
	}

	function EPerrorCallback(e){

		console.log("GPS信息获取失败"+JSON.stringify(e));		
	}

	/**
	*坐标系：
	*    IOS： bd0911
	*Android： bd0911
	**/
	function BDlocate (){

		mam.navigator.gps.getLocation(successCallback,errorCallback,"bd09ll");
	}
	function successCallback(v){
	 console.log('successCallback'+JSON.stringify(v))          
	 var lat1=v.latitude;
	 var lng1=v.longitude;
	 var addr1 = v.address;			
	 $('#BDlatitude').html(lng1);
	 $('#BDlongitude').html(lat1);

	 document.getElementById('BDtextarea').value = "位置信息："+addr1;		
	}

	function errorCallback(e){

		console.log("GPS信息获取失败"+JSON.stringify(e));		
	}



	function clearDataEP(){
		document.getElementById("EPlatitude").innerHTML = '';
		document.getElementById("EPlongitude").innerHTML = '';
		document.getElementById("EPtextarea").value = '';		
	}

	function clearDataBD(){
		document.getElementById("BDlatitude").innerHTML = '';
		document.getElementById("BDlongitude").innerHTML = '';
		document.getElementById("BDtextarea").value = '';		
	}

	function clearData(){
		document.getElementById("latitude").innerHTML = '';
		document.getElementById("longitude").innerHTML = '';
		document.getElementById("textarea").value = '';		
	}
	
	function startLocation(){
		mam.navigator.track.startTrack(successCallback,errorCallback);
	}

	function stopLocation(){
		mam.navigator.track.stopTrack(successCallback,errorCallback);
	}

	function getHistoryTrack(){
		var json = {
			"startTime":0,//开始时间(毫秒)
			"endTime":0,//结束时间(毫秒)
			"setProcessed":true,//设置需要纠偏
			"setNeedDenoise":true,//设置需要去噪
			"setNeedVacuate":true,//设置需要抽稀
			"setNeedMapMatch":true,//设置需要绑定路线
			"setTransportMode":0,//设置交通方式为驾车(0:driving,1:riding,2:walking)
			"setSupplementMode":2//设置里程填充方式为驾车(0:no_supplement,1:straight,2:driving,3:riding,4:walking)
		};
		mam.navigator.track.getHistoryTrack(json, successCallback, errorCallback);
	}

</script>
</head>

<body>

<span>思极定位</span><br>

<table width="100%" border="0" cellpadding="0" cellspacing="0" bordercolor="#E8F6F7" bgcolor="#FFFFFF" class="BK">
  <tr>
    <td height="42" width="15%" align="center" bgcolor="#0A7E81" class="BK2">
    	<span class="STYLE2">经度：</span>
    </td>
    <td class="BK3" width="60%" id="EPlatitude"></td>
  </tr>
  <tr>
    <td height="42" width="15%" align="center" bgcolor="#0A7E81" class="BK4">
    	<span class="STYLE2">纬度：</span>
    </td>
    <td class="BK3" id="EPlongitude"></td>
  </tr>
</table>


<div class="space10"></div> 
<textarea class="textareaStyle1" id="EPtextarea"  readonly="readonly" onfocus="if(value=='位置信息'){value=''}" onblur="if (value ==''){value='位置信息'}">位置信息</textarea>		
<div class="space10"></div>			



<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="25%">&nbsp;</td>
    <td width="45%">
    <table width="130" border="1" cellpadding="0" cellspacing="0" bordercolor="#FFFFFF" bgcolor="#0A7E81" onclick="EPlocate()">
      <tr>
        <td height="50" align="center"><span class="STYLE4">获取当前位置</span></td>
      </tr>
    </table>
    </td>
    <td width="30%"><table width="80" border="1" cellpadding="0" cellspacing="0" bordercolor="#FFFFFF" bgcolor="#0A7E81"
    	onclick="clearDataEP()">
      <tr>
        <td height="50" align="center"><span class="STYLE4">清除</span></td>
      </tr>
    </table></td>
  </tr>
</table>
<br>





<!--*******************************-->
<span>百度定位</span><br>
<span>坐标系：</span><br>
<span>IOS： bd0911</span><br>
<span>Android： bd0911</span><br>

<table width="100%" border="0" cellpadding="0" cellspacing="0" bordercolor="#E8F6F7" bgcolor="#FFFFFF" class="BK">
  <tr>
    <td height="42" width="15%" align="center" bgcolor="#0A7E81" class="BK2">
    	<span class="STYLE2">经度：</span>
    </td>
    <td class="BK3" width="60%" id="BDlatitude"></td>
  </tr>
  <tr>
    <td height="42" width="15%" align="center" bgcolor="#0A7E81" class="BK4">
    	<span class="STYLE2">纬度：</span>
    </td>
    <td class="BK3" id="BDlongitude"></td>
  </tr>
</table>


<div class="space10"></div> 
<textarea class="textareaStyle1" id="BDtextarea"  readonly="readonly" onfocus="if(value=='位置信息'){value=''}" onblur="if (value ==''){value='位置信息'}">位置信息</textarea>		
<div class="space10"></div>			



<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="25%">&nbsp;</td>
    <td width="45%">
    <table width="130" border="1" cellpadding="0" cellspacing="0" bordercolor="#FFFFFF" bgcolor="#0A7E81" onclick="BDlocate()">
      <tr>
        <td height="50" align="center"><span class="STYLE4">获取当前位置</span></td>
      </tr>
    </table>
    </td>
    <td width="30%"><table width="80" border="1" cellpadding="0" cellspacing="0" bordercolor="#FFFFFF" bgcolor="#0A7E81"
    	onclick="clearDataBD()">
      <tr>
        <td height="50" align="center"><span class="STYLE4">清除</span></td>
      </tr>
    </table></td>
  </tr>
</table>
<br>





<!--*******************************-->







<span>Cordova 原生插件（不推荐）</span>
<br>
<span>android 使用Google坐标系</span>

<table width="100%" border="0" cellpadding="0" cellspacing="0" bordercolor="#E8F6F7" bgcolor="#FFFFFF" class="BK">
  <tr>
    <td height="42" width="15%" align="center" bgcolor="#0A7E81" class="BK2">
    	<span class="STYLE2">经度：</span>
    </td>
    <td class="BK3" width="60%" id="latitude"></td>
  </tr>
  <tr>
    <td height="42" width="15%" align="center" bgcolor="#0A7E81" class="BK4">
    	<span class="STYLE2">纬度：</span>
    </td>
    <td class="BK3" id="longitude"></td>
  </tr>
</table>


<div class="space10"></div> 
<textarea class="textareaStyle1" id="textarea"  readonly="readonly" onfocus="if(value=='位置信息'){value=''}" onblur="if (value ==''){value='位置信息'}">位置信息</textarea>		
<div class="space10"></div>			



<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="25%">&nbsp;</td>
    <td width="45%">
    <table width="130" border="1" cellpadding="0" cellspacing="0" bordercolor="#FFFFFF" bgcolor="#0A7E81" onclick="locate()">
      <tr>
        <td height="50" align="center"><span class="STYLE4">获取当前位置</span></td>
      </tr>
    </table>
    </td>
    <td width="30%"><table width="80" border="1" cellpadding="0" cellspacing="0" bordercolor="#FFFFFF" bgcolor="#0A7E81"
    	onclick="clearData()">
      <tr>
        <td height="50" align="center"><span class="STYLE4">清除</span></td>
      </tr>
    </table></td>
  </tr>
</table>




<input type='button' onclick="startLocation()" value='开始轨迹'></input>
<input type='button' onclick="stopLocation()" value='停止轨迹'></input>
<input type='button' onclick="getHistoryTrack()" value='获取轨迹'></input>

   
</body>
</html>















