<!DOCTYPE html>
<html>
<head>
    <title>微应用跳转</title>
    <meta charset="utf-8"/>
    <meta http-equiv="content-type" content="text/html;">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
 
	<script type="text/javascript" charset="utf-8" src="../cordova.js"></script>
	<script src="../js/vconsole.min.js"></script>

    <script type="text/javascript">
	var vConsole = new VConsole();

/**

cordova环境准备

**/
var mam = {navigator:navigator};
//标识cordova环境是否准备好,初始值为false
var deviceReady = false;
//页面加载时执行
function onLoad(){
	document.addEventListener("deviceready", onDeviceReady, false);
	onDeviceReady();
}
/**

	cordova环境准备  加载完毕

**/
function onDeviceReady() {
	deviceReady = true;
  //  console.log("cordova加载完毕！");
}


/**

	微应用跳转
	参数说明：
		appCode				目标应用 应用编码 

**/
		
function microApp()
{
	if(!deviceReady){
			//执行到这边表示cordova环境没有准备好
			console.log('执行到这边表示cordova环境没有准备好');
			return;
		}
	alert('安装 全流程监控 应用');
	try{	
	mam.navigator.go.microApp(successCallback,errorCallback,'SNINTQLCJK');
	}catch(ex)
	{
		console.log("try: "+ex.message);
	}	
}

/**
	成功 回调
	参数说明：
		successCallback		成功回调	"code":0 成功	-2 应用不存在
**/
function successCallback(obj)
{
	console.log(JSON.stringify(obj));
}
/**
	失败 回调
	参数说明：
		errorCallback		失败回调	"code":-1 参数错误 -3 内部错误(errorcallback)
**/
function errorCallback(obj)
{
	console.log(JSON.stringify(obj));	
}
 </script>
</head>
<body onload="onLoad()">
	<br>
<span>*********  微应用跳转   ************<span><br>	
	<input type='button' onclick='microApp()' value='微应用跳转'></input>	   
<br>


	<br>
	<br>
<br>






</body>
</html>



