<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta content="width=device-width,user-scalable=no" name="viewport" />
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	<meta content="width=device-width, initial-scale=1" name="viewport" />
	<title>实验室-基础接口</title>
	<script src="../js/jquery-3.3.1.js"/></script>		
	<script type="text/javascript" charset="utf-8" src="../cordova.js"></script>
	<script src="../js/public.js"></script>
	<link href="../style/basePluginCss.css" rel="stylesheet" />
	<script type="text/javascript">
	function upload()
	{
		alert("up");
	}
	function down()
	{
		alert(1);
		 mam.navigator.down.down(successCallback, errorback, datasrc, "upload/", "1.txt", "appcode_SYS13", "getJSON");
		function successCallback(v) {
					alert(3);
			alert("111getit" + JSON.stringify(v));
		}
		function errorback(v) {
					alert(4);
			alert("error" + JSON.stringify(v));
		}
	}
			//前往页面
			function toPage(target)
		 	{
				var id = target.id;
		  		var strHref = "";
		  		if(id=="getUserInfo")
				 {
				 	mam.navigator.loadconfig.getUserInfo(1,getInfoCallback);
				 }
				 else if(id == "check_getUserInfo")
				 {
				 	strHref = "codeView.html?list=0";
				 } else if(id == "loginSession")
				 {
				 	
				 	mam.navigator.notification.alert(
                    'You are the winner!',  // 显示信息
                    alertDismissed,         // 警告被忽视的回调函数
                    'Game Over',            // 标题
                    'Done'                  // 按钮名称
          				  );
					alert("门户无效果，请查看示例!");
				 } else if(id == "check_loginSession")
				 {
				 	strHref = "codeView.html?list=1";		 
				 }
				 
				  self.location = strHref;
		  	}
		 	//插件调用回调
			function getInfoCallback(obj)
			{
				alert('插件成功调用！');
				nameCode=obj.nameCode;
				areaId = obj.areaId;
				userId=obj.userId;
				alert("统一框架登录名: "+nameCode+"节点编号: "+ areaId+"用户id: "+userId);
			}
			//添加表格    *******************暂时放弃*******************
			 function addtab(r,c) { //创建r行c列的表格
		        var odiv = document.getElementById("tab");
		        var oTable = document.createElement("table");
		        oTable.setAttribute("border", 1, 0);
		        oTable.setAttribute("width", "100%");
		        oTable.setAttribute("height", "40");
		        for (i = 0; i < 3; i++) {
		            var tr = oTable.insertRow();
		            //for (j = 0; j < 2; j++) {
		            for (j = 0; j < 6; j++) {
		                var td = tr.insertCell();
		                if(i==2 && j==5)
		                {
		                	td.setAttribute("align","center");
		                	td.setAttribute("bgcolor","#0a7e81");
		                	td.setAttribute("height","42");
		                	td.setAttribute("width","16%");
		                	td.setAttribute("bgcolor","#0a7e81");
		                	td.setAttribute("id","TD25");
		                	
		                	/*var sp=td.document.createElement("span");
		                	sp.setAttribute("class","STYLE2");
		                	sp.innerHTML = "插件名称"; */
		                	addIF();
		                }
		               // td.innerHTML =  i + "行" + j + "列";                         
		            }
		            
		        }
		        odiv.appendChild(oTable);
		       }
			 function addIF() { //创建r行c列的表格
			 	var oTID = document.getElementById("TD25");
		       /* 
		        var oTSP = document.createElement("span");
		        oTSP.setAttribute("class","STYLE2");
		        oTSP.innerHTML = "插件名称"; 
		         oTID.appendChild(oTSP);*/
		        alert(oTID); 
		        
		       }
			 
			 
			 
			 
			 

        

        // 显示一个定制的警告框
        function showAlert() {
            mam.navigator.notification.alert(
                    '这里显示提示信息!',  // 显示信息
                    alertDismissed,         // 警告被忽视的回调函数
                    '这里是标题',            // 标题
                    '这里是按钮名称'                  // 按钮名称
            );
        }
        // 警告对话框被忽视
        function alertDismissed() {
            // 进行处理
            alert("已经忽略掉提示消息！");
        }
        
        
        
        // 显示一个定制的确认对话框
        function showConfirm() {
            mam.navigator.notification.confirm(
                    '这里显示提示信息!',  // 显示信息
                    onConfirm,              // 按下按钮后触发的回调函数，返回按下按钮的索引
                    '这里是标题',            // 标题
                    '确定按钮,退出按钮,????'          // 按钮标签
            );
        }
        // 处理确认对话框返回的结果
        function onConfirm(button) {
            alert('confirm 提示 ；You selected button ' + button);
        }
        
 		// 蜂鸣三次
        function playBeep() {
            mam.navigator.notification.beep(3);
        }

        // 震动两秒
        function vibrate() {
            mam.navigator.notification.vibrate(2000);
        }
        
        // 
        function toast() {
            mam.navigator.notification.toast ('toast提醒', 0);
        }
        
        


		var ready = false;
	function onLoad(){     
		document.addEventListener("deviceready", onDeviceReady, false);
	}

	 function onDeviceReady() {    
			//设定标志位，到扫描二维码界面时用到这个标志位
			ready = true;		
		}
//到扫描界面
	function executeGoToScanPager(){
    	
    	if(!ready){    		
    		return;
    	}
		alert("00");
    	//执行到这边表示cordova环境准备完成,在二维码扫描界面
    	mam.navigator.forward.goToScanTwoDiemCode(successCallback,errorCallback);
    	//执行成功回调
    	//这边参数表示扫描成功后返回的字符串
    	function successCallback(msg){    		
			alert("11");
    		document.getElementById('textarea').value = msg;
       }    	
    	//执行失败回调[扫描失败，暂不退出界面未做处理]
    	function errorCallback(msg){
    		alert("11");
			document.getElementById("list").innerHTML = "";
    	} 
    }

		</script>
</head>
<body>
<br>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr>
			<td width="15%">&nbsp;</td>
			<td width="40%">
			<table bgcolor="#0a7e81" border="1" bordercolor="#ffffff" cellpadding="0" cellspacing="0" width="130">
				<tbody>
					<tr>
						<td align="center" height="42" href="javascript:void(0);" id="messageInfo" onclick="showAlert(); return false;"><span class="STYLE4">提醒消息通知</span></td>
					</tr>
				</tbody>
			</table>
			</td>
			<td width="45%">
			<table bgcolor="#0a7e81" border="1" bordercolor="#ffffff" cellpadding="0" cellspacing="0" width="130">
					<tr>
						<td align="center" height="42" href="javascript:void(0);" id="check_messageInfo"  onclick="showConfirm(); return false;"><span class="STYLE4">定制对话框</span></td>
					</tr>
			</table>
			</td>
		</tr>
	</tbody>
</table>
</div>
<br>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr>
			<td width="15%">&nbsp;</td>
			<td width="40%">
			<table bgcolor="#0a7e81" border="1" bordercolor="#ffffff" cellpadding="0" cellspacing="0" width="130">
				<tbody>
					<tr>
						<td align="center" height="42" href="javascript:void(0);" id="messageInfo" onclick="vibrate(); return false;"><span class="STYLE4">设备震动</span></td>
					</tr>
				</tbody>
			</table>
			</td>
			<td width="45%">
			<table bgcolor="#0a7e81" border="1" bordercolor="#ffffff" cellpadding="0" cellspacing="0" width="130">
					<tr>
						<td align="center" height="42" href="javascript:void(0);" id="check_messageInfo" onclick="playBeep(); return false;"><span class="STYLE4">蜂鸣</span></td>
					</tr>
			</table>
			</td>
		</tr>
	</tbody>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr>
			<td width="15%">&nbsp;</td>
			<td width="40%">
			<table bgcolor="#0a7e81" border="1" bordercolor="#ffffff" cellpadding="0" cellspacing="0" width="130">
				<tbody>
					<tr>
						<td align="center" height="42" href="javascript:void(0);" id="messageInfo" onclick="toast(); return false;"><span class="STYLE4">弹出短暂提示</span></td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>
</div>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr>
			<td width="15%">&nbsp;</td>
			<td width="40%">
			<table bgcolor="#0a7e81" border="1" bordercolor="#ffffff" cellpadding="0" cellspacing="0" width="130">
				<tbody>
					<tr>
						<td align="center" height="42"  id="messageInfo" onclick="executeGoToScanPager()"><span class="STYLE4">二维码</span></td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>

<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr>
			<td width="15%">&nbsp;</td>
			<td width="40%">
			<table bgcolor="#0a7e81" border="1" bordercolor="#ffffff" cellpadding="0" cellspacing="0" width="130">
				<tbody>
					<tr>
						<td align="center" height="42"  id="messageInfo" onclick="down()"><span class="STYLE4">下载</span></td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr>
			<td width="15%">&nbsp;</td>
			<td width="40%">
			<table bgcolor="#0a7e81" border="1" bordercolor="#ffffff" cellpadding="0" cellspacing="0" width="130">
				<tbody>
					<tr>
						<td align="center" height="42"  id="messageInfo" onclick="upload()"><span class="STYLE4">上传</span></td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>
</div>
<p>&nbsp;</p>
</body>
</html>
