body{background:#e8f6f7;color:#0a7e81}
.inputStyle{background-color:#e8f6f7;}
.l{color:#0a7e81}
.tlist{border-left:1px solid #c2c9cf;border-top:1px solid #c2c9cf;}
.tlist td,.tlist th{border-right:1px solid #c2c9cf;border-bottom:1px solid #c2c9cf;}
.tlist th{background:#efefef;}
.tlist1{border-left:1px solid #c2c9cf;border-top:1px solid #c2c9cf;border-right:1px solid #c2c9cf;}
.tlist1 td,.tlist1 th{border-bottom:1px solid #c2c9cf;}
.xx{background:#cae8ea;}
a.button{
	border: 1px solid #0a7e81;
	color: #0a7e81;
}
a.button:active{
	border:1px solid #0a7e81;color:#fff;
	background:#0a7e81;
}
a.button_active{
	border:1px solid #0a7e81;color:#fff;
	background:#0a7e81;
}

.ctlist{
	border:1px solid #0a7e81;
	color:#0a7e81;
	background:#D4F3F5;
}
.ctlist li:hover,.ctlist li:active{
	color:#fff;
	background:#0a7e81;
}

.ctbtn{
	border: 1px solid #0a7e81;
	color:#0a7e81;
}